@charset "utf-8";
/* CSS Document */
.top-bar{
	height: 50px; line-height: 50px
}
.top-bar a{
	color:white
}
.top-bar a:hover{
	color: #F2D636
}
.navbar .navbar-nav .nav-item .nav-link{
	padding: 10px 30px
}
.navbar .navbar-nav .nav-item .nav-link:hover{
	color:#056CB6; background-color: #FFC113
}
.navbar .navbar-nav .nav-item .dropdown-menu{
	background-color: #056CB6; padding-top: 0 ; padding-bottom: 0
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{
	color: white
}
.navbar .navbar-nav .nav-item .dropdown-menu li{
	border-bottom: 1px solid white
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
	background-color: #FFC113
}
main{
	min-height: 500px
}
footer{
	min-height: 200px
}
.gach-chan{
    border-bottom: 2px solid #FFC113	
}
footer .navbar-nav .nav-item .nav-link:hover{
    color:	#FFC113
}
.bottom-bar{
 height:50px; line-height:50px; background-color: #FFC113
}
#service a{
	text-decoration: none; color: #847777
}
#service a:hover{
	color: #FFC113
}
#why{
	min-height: 300px; background-image: url("../images/why.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center top
}
#client .hinh{
	position: relative
}
#client .before{
	position: absolute; left: 0; top: 0; padding:10px; background-color: rgba(255,255,255,0.60)
}
#client .after{
	position: absolute; left: 50%; top: 0; padding:8px; background-color: rgba(255,255,255,0.60)
}
#cn .noi-dung{
	text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 20px 60px
}
#cn .noi-dung img{
	width: 80px; height: 80px
}
#client .hinh{
	position: relative
}
#client .before{
	position: absolute; left: 0; top: 0; padding:10px; background-color: rgba(255,255,255,0.60)
}
#client .after{
	position: absolute; left: 50%; top: 0; padding:8px; background-color: rgba(255,255,255,0.60)
}
#client .hinh{
 position: relative
}
#client .before{
 position: absolute; left: 0; top: 0; padding: 10px; background-color: rgba(255,255,255,0.60)
}#client .after{
 position: absolute; left: 50%; top: 0; padding: 10px; background-color: rgba(255,255,255,0.60)
}
#clinic {
 min-height: 300px; background-image: url("../images/pageheader.png"); background-repeat: no-repeat; background-size: cover; background-position: center top
}
.w-30{
 width: 30%; min-height: 400px; padding:15px; float: left
}
.six h4 a{
 text-decoration: none; color:black }
.six h4 a:hover{
 color: #FFC113
}
#client .after{
	position: absolute; left: 50%; top: 0; padding:8px; background-color: rgba(255,255,255,0.60)
}
#client .hinh{
 position: relative